<div class="">
    <div>
        <img src="/assets/user.png" alt="user">
        <!-- <h3>{{fullName}}</h3> --><br><br>
        <div><label for="distanceLabel" class="labelName">Total Distance :</label>
            <label for="distance" class="distanceLabel">{{totalDistance}} Kms</label>
            <label for="hoursLabel" class="labelName">Total Hours :</label>
            <label for="hours" class="hoursLabel">{{totalHours}} Hrs</label>
        </div>
    </div>
    <div class="row shadow-lg p-3 mb-5 bg-white rounded tab">
        <div class="col-md-1 col-sm-10 col-12 insideTab">
            <label for="personalInfoHeading">
                <h5>Personal Information</h5>
            </label>
            <div class="detail row">
                <div class="col-md-4 col-sm-4 col-4">
                    <div class="detailLabelName"><label for="fullNameLabel">Full Name</label></div>
                    <div class="detailLabelName"><label for="emailLabel">E-mail ID</label></div>
                    <div class="detailLabelName"><label for="mobileLabel">Mobile Number</label></div>
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    <div class="detailLabel">
                        <label for="fullName">{{fullName}}</label>
                        <label class="hoverLabel">Edit</label></div>
                    <div class="detailLabel">
                        <label for="email">{{email}}</label>
                        <label class="hoverLabel">Edit</label>
                    </div>
                    <div class="detailLabel">
                        <input type="text" >
                        <label class="hoverLabel">Edit</label></div>
                </div>

            </div>
        </div>
    </div>
</div>