<!-- <div class="container-fluid " style="background-color: black;">
  <div id="footer" class="container">
     <!-- <div class="row">
      <div class="col-md-2 col-sm-2 "></div>
      <div class="col-md-2 col-sm-2 ">
        <button class="btn btn-primary shadow-none d-flex justify-content-center d-md-table mx-auto" id="btn">
          <i class="fa fa-cogs" aria-hidden="true" style="font-size: 35px;"></i>

          <p id="txt">How Dhoom Car Works?</p>
        </button>
      </div>
      <div class="col-md-2 col-sm-2 ">
        <button class="btn btn-primary  shadow-none d-flex justify-content-center d-md-table mx-auto" id="btn">
          <i class="fa fa-book" aria-hidden="true" style="font-size: 35px;"></i>

          <p id="txt">Policies</p>
        </button>
      </div>
      <div class="col-md-2 col-sm-2 ">
        <button class="btn btn-primary shadow-none d-flex justify-content-center d-md-table mx-auto" id="btn">
          <i class="fa fa-commenting-o" aria-hidden="true" style="font-size: 35px;"></i>
          <i class="fa fa-phone" aria-hidden="true" style="font-size: 35px;"></i>
          <p id="txt">Help Support 24*7</p>
        </button>
      </div>

      <div class="col-md-2 col-sm-2 ">
        <button class="btn btn-primary d-flex shadow-none justify-content-center d-md-table mx-auto" id="btn">
          <i class="fa fa-book" aria-hidden="true" style="font-size: 35px;"></i>
          <p id="txt">About Us</p>
        </button>
      </div>
    </div> -->




    <!-- AK-->
    <!-- <div class="row" style="padding-top: 2%;">
      <div class="col-md-1 col-sm-1 col-0"></div>
      <div class="col-md-10 col-sm-8 col-12 row">
        <div class="col-md-3 col-sm-3 col-3 footer-icons">
          <button class="fas fa-cogs " id="howDhoomCarBtn"></button>
        </div>
        <div class="col-md-3 col-sm-2 col-3">
          <button class="fas fa-book-open" id="policyBtn"></button>
        </div>
        <div class="col-md-3 col-sm-2 col-3">
          <button class="fas fa-phone-square" id="contactUsBtn"></button>
        </div>
        <div class="col-md-3 col-sm-2 col-3">
          <button class="fas fa-users" id="aboutUsBtn"></button>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 col-0"></div>
    </div>
    <div class="row" style="padding-top: 2%;">
      <div class="col-md-1 col-sm-1 col-0"></div>
      <div class="col-md-10 col-sm-8 col-12 row">
        <div class="col-md-3 col-sm-3 col-3 footer-icon-text">
          <h4>How Dhoom Car Works?</h4>
        </div>
        <div class="col-md-3 col-sm-2 col-3 footer-icon-text">
          <h4>Policy</h4>
        </div>
        <div class="col-md-3 col-sm-2 col-3 footer-icon-text">
          <h4>Contact Us</h4>
        </div>
        <div class="col-md-3 col-sm-2 col-3 footer-icon-text">
          <h4>About Us</h4>
        </div>
      </div>
      <div class="col-md-1 col-sm-1 col-0 "></div>
    </div>
  </div>
</div>

<div id="footlower" class="container" style="width: max-content;">
  <div class="row container" style="padding-top:20px;margin-top: 50px">
    <div class="col-md-12">

      <img src="https://image.flaticon.com/icons/svg/741/741407.svg" width="70" style="margin-left: 20px;" />
      <span style="color: white; font-size: 20px; font-family: initial;">
          Dhoom Car</span -->
    <!-- </div>
  </div>
  <div class="row container" style="padding-top:20px ; margin-top: 50px">
    <div class="col-md-12">
      <i class="fa fa-envelope-o" aria-hidden="true" style="color: white;"></i>
      <a href="https://media.pri.org/s3fs-public/styles/story_main/public/story/images/One-of-the-photos-taken-b-013.jpg?itok=oO265LMX"
        style="color:white">
        rups@gmail.com
      </a>
    </div>
  </div>
  <div class="row container" style="padding-top:20px;margin-top:50px;">
    <div class="col-md-12">

      <i class="fa fa-phone-square" aria-hidden="true" style="color: white;">
        ***********</i>
    </div>
  </div>
  <div class="row container" style="padding-top:20px;margin-top:50px">
    <div class="col-md-12">

      <span style="color: white;">
        &copy; 2019 DhoomCar, Inc. All rights reserved.
      </span>
    </div>
  </div>


</div>   -->
<!-- <div class = "footer" style="color:#fff;display:flex" >
<div class = "primary-links" style="background:#43505c;box-sizing:inherit;display: flex">
    <div class = "footer-wrapper" >
      <div class="row">  
        <div class="col-md-2">

        </div>
        <div id='box' class="col-md-2">
          <div style="align-content: center;align-items: center;display: flex">       
           <a class = "link" href="/howitworks" style="text-align:center;align-items:center;width:25%;display:block;cursor:pointer;color: #fff">
              <i class="fa fa-question-circle" aria-hidden="true" style="widows: 40px;height:40px"></i>
                <p>How it works</p>
            </a>
            </div>
        </div>
        
        <div id='box' class="col-md-2" style="display:block">
            <a class = "link" href="/policy" style="text-align:center;width:25%;display:block;cursor:pointer;color: #fff">   
          <div class="rounded">
            
              <i class="far fa-file" style="widows: 40px;height:40px"></i>
              <p>Policies</p>
            
           </div>
           </a>   
        </div>
            
        

        <div id ='box' class="col-md-2">
            <a class = "link" href="/faq" style="text-align:center;width:25%;display:block;cursor:pointer;color: #fff">
              <i class="fa fa-headphones" style="widows: 40px;height:40px"></i>
              <p>Help and Support</p>
              
            </a>
        </div>

      <div id =  'box' class="col-md-2" onmouseover="this.style.color='#003300'">
            <a class = "link" href="/safety" style="text-align:center;width:25%;display:block;cursor:pointer;color: #fff">
              <i class="fa fa-shield" aria-hidden="true" style="widows: 40px;height:40px"></i>
              <p>Safety</p>
            
            </a>
      </div>
      <div class="col-md-2">

      </div>
      </div>

    </div>

</div>

</div> -->

<!-- Footer -->
<footer>
    <div class="footer-top ">
      <div class="container-fluid ">
        <div class="row">
          <div class="col-md-3 footer-about wow fadeInUp">
            <img class="logo-footer" src="https://image.flaticon.com/icons/svg/741/741407.svg" alt="logo-footer" data-at2x="assets/img/logo.png">
            <p>
              We are a young company always looking for new and creative ideas to help you with our products in your everyday work.
            </p>
            <p><a href="#">Our Team</a></p>
                </div>
          <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
            <div class="chip " style="margin-bottom: 30px;" >
              <img src="http://73.154.199.105/WEBDEV/WEB%20Stuff/WEB%20Stuff/img/businessman_tie-512.png" alt="Person" width="96" height="96" style="color: black;">
             Contacts 
            </div>
                <p><i class="fas fa-map-marker-alt"></i> Via Rossini 10, 10136 Turin Italy</p>
                <p><i class="fas fa-phone"></i> Phone: (0039) 333 12 68 347</p>
                <p><i class="fas fa-envelope"></i> Email: <a href="mailto:hello@domain.com">rupinderSingh@gmail.com</a></p>
                <p><i class="fab fa-skype"></i> Skype: you_online</p>
                </div>
                <div class="col-md-4 footer-links wow fadeInUp">
                  <div class="row">
                    <div class="col">
                      <h3>Links</h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <p><a class="scroll-link" href="#top-content">Home</a></p>
                      <p><a href="#features">Features</a></p>
                      <p><a href="#working">How it works</a></p>
                      <p><a href="#">Policies</a></p>
                    </div>
                    <div class="col-md-6">
                      <p><a href="#">Plans &amp; pricing</a></p>
                      <p><a href="#">Affiliates</a></p>
                      <p><a href="#">Terms</a></p>
                    </div>
                  </div>
                </div>
          </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
             <div class="col-md-6 footer-copyright">
                  &copy;Let's drive
                </div>
             <div class="col-md-6 footer-social">
                  <a href="#"><i class="fab fa-facebook-f"></i></a> 
        <a href="#"><i class="fab fa-twitter"></i></a> 
        <a href="#"><i class="fab fa-google-plus-g"></i></a> 
        <a href="#"><i class="fab fa-instagram"></i></a> 
        <a href="#"><i class="fab fa-pinterest"></i></a>
                </div>
           </div>
      </div>
    </div>
  </footer>