<div class="container-fluid" style="background-color: black;">
  <div id="footer" class="container-fluid ml-auto ">
    <div class="row">
      <div class="col-md-2 col-sm-2"></div>
      <div class="col-md-2 col-sm-2">
        <button
          class="btn btn-primary shadow-none d-flex justify-content-center d-md-table mx-auto"
          id="btn"
        >
          <img
            src="https://image.flaticon.com/icons/svg/741/741407.svg"
            width="50"
            id="carIcon"
          />

          <p id="txt">How Dhoom Car Works?</p>
        </button>
      </div>
      <div class="col-md-2 col-sm-2">
        <button
          class="btn btn-primary  shadow-none d-flex justify-content-center d-md-table mx-auto"
          id="btn"
        >
          <i
            class="fa fa-file-text-o"
            aria-hidden="true"
            style="font-size: 35px;"
          ></i>
          <i
            class="fa fa-files-o"
            aria-hidden="true"
            style="font-size: 35px;"
          ></i>
          <i
            class="fa fa-files-o"
            aria-hidden="true"
            style="font-size: 35px;"
          ></i>
          <i
            class="fa fa-file-text-o"
            aria-hidden="true"
            style="font-size: 35px;"
          ></i>
          <i
            class="fa fa-files-o"
            aria-hidden="true"
            style="font-size: 35px;"
          ></i>

          <p id="txt">Policies</p>
        </button>
      </div>
      <div class="col-md-2 col-sm-2">
        <button
          class="btn btn-primary shadow-none d-flex justify-content-center d-md-table mx-auto"
          id="btn"
        >
          <!-- <i class="fa fa-commenting-o" aria-hidden="true" style="font-size: 35px;"></i> -->
          <i
            class="fa fa-phone"
            aria-hidden="true"
            style="font-size: 35px;"
          ></i>
          <p id="txt">Help Support 24*7</p>
        </button>
      </div>

      <div class="col-md-2 col-sm-2">
        <button
          class="btn btn-primary d-flex shadow-none justify-content-center d-md-table mx-auto"
          id="btn"
        >
          <i class="fa fa-book" aria-hidden="true" style="font-size: 35px;"></i>
          <p id="txt">About Us</p>
        </button>
      </div>
    </div>
  </div>
  <div id="footlower" class="container-fluid " style="margin-top: -70px;">
    <div class="row">
      <div class="col-md-12">
        <br /><br />
        <img
          src="https://image.flaticon.com/icons/svg/741/741407.svg"
          width="70"
          style="margin-left: 20px;"
        />
        <!-- <span style="color: white; font-size: 20px; font-family: initial;">
          Dhoom Car</span -->
        >
        <br /><br />
        <i
          class="fa fa-envelope-o"
          aria-hidden="true"
          style="color: white;"
        ></i>
        <a
          href="https://media.pri.org/s3fs-public/styles/story_main/public/story/images/One-of-the-photos-taken-b-013.jpg?itok=oO265LMX"
          style="color:white"
        >
          rups@gmail.com
        </a>
        <br /><br />
        <i class="fa fa-phone-square" aria-hidden="true" style="color: white;">
          ***********</i
        >
        <br /><br /><br />
        <span style="color: white;">
          &copy; 2019 DhoomCar, Inc. All rights reserved.
        </span>
      </div>
    </div>
  </div>
</div>
