<div id="footer" class="container-fluid ml-auto ">
    <div class="row">
    <div class="col-md-2 col-sm-2">

    </div>
    <div class="col-md-2 col-sm-2">
        <button class="btn btn-primary shadow-none d-flex justify-content-center d-md-table mx-auto" id="btn"><img src="https://img.icons8.com/bubbles/50/000000/car.png" width="50"
                id="carIcon">
         
            <p id="txt">How Dhoom Car Works?</p>
        </button>
    </div>
    <div class="col-md-2 col-sm-2">

        <button class="btn btn-primary  shadow-none d-flex justify-content-center d-md-table mx-auto" id="btn">
                <i class="fa fa-file-text" aria-hidden="true" style="font-size: 35px;"></i>
            <p id="txt">Policies</p>
        </button>



    </div>
    <div class="col-md-2 col-sm-2">

        <button class="btn btn-primary shadow-none d-flex justify-content-center d-md-table mx-auto" id="btn"> 
            <!-- <i class="fa fa-commenting-o" aria-hidden="true" style="font-size: 35px;"></i> -->
            <i class="fa fa-phone" aria-hidden="true" style="font-size: 35px;"></i>
            <p id="txt">Help Support 24*7</p>
        </button>



    </div>
    <div class="col-md-2 col-sm-2">

        <button class="btn btn-primary d-flex shadow-none justify-content-center d-md-table mx-auto" id="btn">
            <i class="fa fa-book" aria-hidden="true" style="font-size: 35px;"></i>
            <p id="txt">About Us</p>
        </button>


    </div>

</div>
</div>
<div id="footlower" class="container-fluid  ">
    <div class="row">
    <div class="col-md-12">
        <br><br>
        <img src="https://img.icons8.com/bubbles/50/000000/car.png" width="70" style="margin-left: 20px;">
        <span style="color: white; font-size: 20px; font-family: initial;">Dhoom Car</span>
        <br><br>
        <i class="fa fa-envelope-o" aria-hidden="true" style="color: white;"></i>
        <a href="#" style="color:white"> Gurwinder.bhangu936@gmail.com </a>
        <br><br>
        <i class="fa fa-phone-square" aria-hidden="true" style="color: white;">  ***********</i>
        <br><br><br>
        <span style="color: white;"> &copy; 2019 DhoomCar, Inc. All rights reserved. </span>
    </div>
</div></div>

