<div class="container shadow-sm p-3 mb-5 bg-white rounded panel">
    <button (click)=testing()>click</button>
    <h4>Active Booking</h4>
    <hr>
    <div id="activeBookingContainer" class="booked-container-background">
        <div class="row shadow p-3 mb-5" *ngFor="let booking of activeBookings">
            <div class="col-md-3 col-sm-3 col-10 main-date-container ">
                <label>{{day[carBookedDate.getDay()]}}</label>
                <h1>{{carBookedDate.getDate()}}</h1>
                <label>{{months[carBookedDate.getMonth()]}} {{carBookedDate.getFullYear()}}</label>
            </div>
            <div class="col-md-9 col-sm-9 col-12">
                <table>
                    <tr>
                        <th>Car Model</th>
                        <td>{{bookings.car.model}}</td>
                        <th>Car Number</th>
                        <td>{{bookings.car.id}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <th>PickUp Date and Time</th>
                        <th>Drop Date and Time</th>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{bookings.fromDate}}</td>
                        <td>{{bookings.tillDate}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <th>PickUp and drop location</th>
                        <td>{{bookings.car.location}}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <h4>Completed Bookings</h4>
    <hr>
    <div id="pastBookingContainer" class="booked-container-background">
        <div class="row shadow p-3 mb-5 bg-light" *ngFor="let booking of pastBookings">
            <div class="col-md-3 col-sm-3 col-10">
                <label>{{day[bookings.fromDate.getDay()]}}</label>
                <h1>{{bookings.fromDate.getDate()}}</h1>
                <label>{{months[bookings.fromDate.getMonth()]}} {{bookings.fromDate.getFullYear()}}</label>
            </div>
            <div class="col-md-9 col-sm-9 col-12">
                <table>
                    <tr>
                        <th>Car Model</th>
                        <td>{{bookings.car.model}}</td>
                        <th>Car Number</th>
                        <td>{{bookings.car.id}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <th>PickUp Date and Time</th>
                        <th>Drop Date and Time</th>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{bookings.fromDate}}</td>
                        <td>{{bookings.tillDate}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <th>PickUp and drop location</th>
                        <td>{{bookings.car.location}}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>