.wallet-balance{
    color: grey;
}
.wallet-transaction{

}
.no-transaction{
    color: gray;
    font-size: 15px;
    /* margin-left: 250px; */
    text-align: center;
    align-content: center;
    vertical-align: middle;
    font-style: bold;
}