<!--<app-payment></app-payment> -->
<!-- <div class="container-fluid">
  <app-header></app-header>
</div>
 <div class="container-fluid" style="margin-top:-450px;">
    
  <app-baners></app-baners> -->
    <!-- <app-cardetail></app-cardetail>
 <app-car-select ></app-car-select> -->
  <!-- <app-location-header></app-location-header>
  <app-car-select></app-car-select> -->
  <!-- <app-car-details></app-car-details> -->
  
  <router-outlet></router-outlet>
  
    <!-- <app-cardetail></app-cardetail> -->
 

   <!-- <app-location-header></app-location-header>

   <app-car-select ></app-car-select>  
    -->

<!--   
<app-payment></app-payment>
<app-upload-file></app-upload-file>
  -->

<!-- </div> -->


<div style="margin-top: 30px;">
<app-footer></app-footer>
</div>

<!-- </div>
<div style="margin-top: 480px;">
<app-footer></app-footer>
</div> -->

<!-- <div>
  <app-car-select></app-car-select>
</div> -->


