<div class="container-fluid">
  <div class="row">

      <!-- <div class="checkout-details"> -->
      <div class="left-pane col-md-8">
          <div class="left-wrapper box-shadow"
              style="border-radius : 6px; box-shadow: 0px 2px 8px -2px rgba(31,45,61,0.4)">


              <div style="padding : 20px" class="checkout-vehicle-template">
                  <div class="listing-car-body">
                      <div class="detail-section">

                          <div class="car-name">
                              <h3>Hyundai Eon(petrol)</h3>
                          </div>


                          <div class="features car-features" style="padding:1px">
                              <!-- <div style="float:right"><img src=" demoCar.png " height=80px width="50px"></div> -->
                              <!-- <div class="car-features"> -->
                              <span>
                                  <br><br><i class='fas fa-gas-pump'></i>
                                  Petrol
                              </span>
                              <span>
                                  <i class="fa fa-users"></i>
                                  5 Seater
                              </span>
                              <span>

                              </span>
                          </div>
                          <!-- </div> -->

                          <div class="list-item info-text">

                              <p style=" color: #77899b; font-size: 13px"> Note:The image is for
                                  representation purpose only. The colour of the actual car may vary </p>

                          </div>

                          <!-- </div> -->
                      </div>

                      <span class="img-section">
                          <img class="load-img " src="./assets/demoCar.png" height="125px" width="180px"
                              style="margin-left: 70%;margin-top:-80px ">

                      </span>

                  </div>
              </div>

              <div><br></div>
              <div>
                  <hr>
              </div>
              <div class="package-details" style="margin-left: 10px;">
                  
                      <div class="btn-group border rounded" style="width: 270px;">
                        <button style="background-color: lightgrey; width: 120px; " type="button" disabled class="btn">
                            Selected Package</button>
                        <div class="btn-group sort">
                            <button style="background-color: white; width: 100px; " type="button" class="btn dropdown-toggle"
                                data-toggle="dropdown">
                                <span id="selected">
                                Change
                                </span>
                            </button>
                            <div class="dropdown-menu" id="sortMenu">
                                <a class="dropdown-item" >60 KM</a>
                                <a class="dropdown-item" >120 KM</a>
                                <a class="dropdown-item" >180 KM</a>
                            </div>
                        </div>
                    </div>


                  <div class="info-text">
                      <p style=" color: #77899b; font-size: 13px">
                          There is no travel limit. ₹ 2/km distance charge will be applied over the booking amount.
                          Fuel bills
                          are
                          not reimbursed in this package.
                      </p>

                  </div>
              </div>

              <div>
                  <hr>
              </div>

              <div class="ride-details" style="padding:20px">
                  <div class="pickup-drop-time">
                      <div class="block-heading ">
                          Pick up & Drop
                      </div>
                      <div class="start-time row">
                          <div class="col-md-4">

                              <div class="date-time-format">

                                  <div class="left-section">20</div>
                                  <div class="right-section ">
                                      <div class="month-year">Oct-2019</div>

                                      <div class="hour-minute">
                                          11:30 PM
                                      </div>
                                  </div>
                              </div>

                          </div>

                          <div class="col-md-4">
                              <div class="trip-hour">
                                  <span style="color: #77899b">
                                      Duration
                                  </span>
                                  12h
                              </div>

                          </div>

                          <div class="col-md-4">

                              <div class="date-time-format" style="margin-left:100px">
                                  <div class="left-section">20</div>
                                  <div class="right-section">
                                      <div class="month-year">Oct-2019</div>
                                      <div class="hour-minute">
                                          <span>
                                              11:30 PM
                                          </span>
                                      </div>
                                  </div>
                              </div>

                              <div class="arrow">

                              </div>



                          </div>



                      </div>



                  </div>

              </div>
              <div>
                  <hr>
              </div>
              <div class="guidelines">
                  <div class="block-heading " style="padding-bottom:8px;padding-left:20px;">
                      Guidelines and policies
                  </div>

                  <ul>
                      <li class="font">Please carry your original driving license along with an additional id proof when you come
                          to pick up
                          your vehicle</li>
                      <li class="font">Your license must be verified by our system before you start your trip or else your trip
                          will be
                          cancelled</li>
                      <li class="font">Our vehicles have a maximum speed limit of 120 km/h. Over speeding will attract fines</li>
                      <li class="font">if you plan to travel out of state, please ensure to take the required state permits</li>
                      <br><br>
                  </ul>

              </div>






          
      </div>
      </div>
          <div class="right-pane col-md-4">
              <div class="right-wrapper box-shadow"
                  style="border-radius : 6px; box-shadow: 0px 2px 8px -2px rgba(31,45,61,0.4)">

                  <div class="fare-details-block  box-shadow" style="padding:10px"></div>
                  <div class="block-heading " style="padding-left: 20px">Fare Details</div>
                  <div class="fare-block" style="padding:10px">

                      <span class="fare-name "
                          style="font-family:proxima-nova; color: #77899b; font-size: 16px ;padding: 12px">Weekend
                          charges</span>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <span class="fare-amount">10187</span>
                  </div>

                  <div class="fare-block" style="padding:10px">

                      <span class="fare-name "
                          style="font-family:proxima-nova; color: #77899b; font-size: 16px;padding: 12px">Weekday
                          charges</span>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <span class="fare-amount">50</span>

                  </div>
                  <div>
                      <hr>
                  </div>

                  <div class="total-charge" style="paddding:20px">
                      <span class="fare-name "
                          style="font-family:proxima-nova; color: #77899b; font-size: 20px ;padding: 20px">

                          Total
                      </span>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <span class="fare-amount">10187</span>
                  </div>

              </div>
              <!-- </div> -->
          </div>
      </div>
  
</div>

<!-- </div> -->
<div class="fixed-bottom container-fluid bg-light" style="margin-top: 120px">

  <div class="  left-wrapper box-shadow"
      style="border-radius : 6px; box-shadow: 0px 2px 8px -2px rgba(31,45,61,0.4)  ">
      <div class="row">
          <div class="col-md-4">
              <div class="custom-control custom-checkbox">
                  <div class="custom-control custom-checkbox ">
                      <form>
                          <input type="checkbox" class="custom-control-input" id="accept-agreement"
                              name="accept-agreement-checkbox">
                          <label class="custom-control-label" for="accept-agreement">
                              <span style="color  :#1f2d3d; font-size : 12px; font-weight : 500">
                                  Rider, You are just one step away from confirming your booking. Confirm that you are
                                  above 21 and you
                                  agree to all the terms mentioned in
                              </span>

                          </label>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">

          </div>
          <div class="col-md-4">
              <div class="add-to-cart " style="padding-top: 5%">
                  <!-- <button type="button" class="btn btn-light">Add to Cart</button> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; -->
                  <button type="button" class="btn btn-success">Quick Book</button>
              </div>
              <div class="Quick Book ">


              </div>
          </div>

      </div>


  </div>
</div>