<div
  class="card container-fluid fixed-top rounded"
  style=" background :whitesmoke ; padding-top: 8px; padding-bottom: 12px"
>
  <div class="ui-g ui-fluid">
    <div class="col-md-3  col-sm-3">
      <div class="div-margin" style="margin-top: 8px">
        I need my vehicle near
      </div>
     
      <!-- <div class="card border" style="padding: 5px; margin-top: 5px"> -->
      <!-- <button
          class="btn btn-light dropdown-toggle "       
        > -->
      <!-- Location Name
          <span class="caret"></span> -->
      <!-- <select
        style="border: 0.8px solid; align-self: auto; height: 40px"
        class="form-control shadow-none"
      >
        <option value="" disabled selected>Select Location</option>
        <option value="1">Bengaluru</option>
        <option value="2">Delhi</option>
      </select> -->

      <div style="margin-top: 5px;">
        <button
          style="background-color: white ; border : black 0.8px solid"
          type="button"
          class="btn dropdown-toggle form-control  shadow-none"
          data-toggle="dropdown"

          >
          <span id="selectedMenu">
            Choose
          </span>
        </button>
        <div class="dropdown-menu" id="locationMenu" >
          
          <a class="dropdown-item" *ngFor="let location of locations" >{{location.locality}}</a>

        </div>
      </div>
      <!-- </button> -->
      <!-- </div> -->
    </div>
    <div class="ui-g-12 ui-md-3 ">
      <div class="div-margin">Select your pickup date</div>
      <!-- <button class="btn  shadow-none "> -->
      <div class=" border-dark" style="margin-top: 6px">
        <p-calendar
          [(ngModel)]="value"
          [showTime]="true"
          hourFormat="12"
          dateFormat="dd MM yy"
        ></p-calendar>
      </div>
      <!-- </button> -->
    </div>
    <div class="ui-g-12 ui-md-3 ">
      <div class="div-margin">Select your drop date</div>
      <!-- <button class="btn shadow-none"> -->
      <div style="margin-top: 6px">
        <p-calendar
          [(ngModel)]="valueDrop"
          [showTime]="true"
          hourFormat="12"
          dateFormat="dd MM yy"
        ></p-calendar>
      </div>
      <!-- </button> -->
    </div>
    <div class="ui-g-12 ui-md-3 text-center">
      <div>
        <!-- <div><br></div> --><br />
        <button class="btn btn-success" (click) ="runValidations()" style="width: 80%">
          Search
        </button>
      </div>
    </div>
  </div>
</div>
