<div
  class="card container-fluid fixed-top rounded"
  style=" background :whitesmoke ; padding-top: 8px; padding-bottom: 12px"
>
  <div class="row">
    <div class="col-md-4  col-sm-4">
      <div class="div-margin">I need my vehicle near</div>
      <div class="card border-dark" style="padding: 5px">
        <button
          class="btn btn-light dropdown-toggle "       
        >
          Location Name
          <span class="caret"></span>
        </button>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 ">
      <div class="div-margin ">Select your pickup date</div>
      <button class="btn  shadow-none">
        <p-calendar
          [(ngModel)]="value"
          [showTime]="true"
        
        ></p-calendar>
      </button>
    </div>
    <div class="col-md-3 col-sm-3 ">
      <div class="div-margin">Select your drop date</div>
      <button class="btn shadow-none">
        <p-calendar
          [(ngModel)]="value"
          [showTime]="true"
        ></p-calendar>
      </button>
    </div>
    <div class="col-md-2 col-sm-2 text-center">
      <div>
        <div><br></div>
        <button class="btn btn-success" style="width: 80%">
          Search
        </button>
      </div>
    </div>
  </div>

</div>
